<div #searchContainer class="relative flex items-center bg-greyPrimary h-12 px-6 py-2 rounded-[20px] w-full max-w-lg">
    <mat-icon class="text-gray-300">search</mat-icon>
    <div *ngIf="selectedValue">
      <div class="flex ml-2 text-xs pl-2 pr-2 rounded-full bg-gray-500 flex-row items-center align-center">
        <span class="ml-1">{{ selectedValue.communityName }}</span>
        <span>
          <mat-icon (click)="removeSelection()" class="cursor-pointer icon-size-transform bg-[rgb(235,85,40)] mt-1 rounded-full">close</mat-icon>
        </span>
      </div>
    </div>
    <input #searchInput
    class="ml-2 bg-transparent border-none focus:outline-none w-full z-60 text-gray-200"
    [(ngModel)]="searchText"
    (input)="openOverlay()"
    (input)="globalSearch($event)" />
    <div class="absolute top-11 left-0 right-0 z-50" *ngIf="isOverlayOpen">
      <app-search-overlay (emitSelectedCommunity)="emittedSelectedValue($event)"></app-search-overlay>
    </div>
  </div>
