input {
    font-size: 1rem;
    font-weight: lighter;
    outline: none;
    border: none;
    background: inherit;
}

:host {
    display: block;
    width: 100%;
}

.icon-size-transform {
    transform: scale(.7);
}
