<div class="NgxEditor__Wrapper">
    <mat-card class="border border-white">
      <ngx-editor-menu [editor]="editor" [toolbar]="toolbar"></ngx-editor-menu>
      <div class="h-44 overflow-auto">
        <ngx-editor
        class="editor-content"
        placeholder="Add Post..."
        [(ngModel)]="editorMessage"
        [editor]="editor"
        (focusOut)="emitBodyText()"
      ></ngx-editor>
      </div>
      <span class="flex flex-row items-center">
        <mat-icon
          [ngClass]="showEmojiEditor ? 'text-gray-500 rounded-full' : 'p-0'"
          (click)="showEmojiEditor = !showEmojiEditor"
          class="mr-1 cursor-pointer text-[20px]"
          >emoji_emotions</mat-icon
        >
        <mat-icon class="mr-1 cursor-pointer text-[20px]">image</mat-icon>
        <mat-icon class="mr-1 cursor-pointer text-[20px]">gif_box</mat-icon>
        <div class="flex-1"></div>
      </span>
      <emoji-mart
        *ngIf="showEmojiEditor"
        (emojiClick)="addEmoji($event)"
        class="absolute z-10"
        [hideRecent]="true"
        [emojiSize]="20"
        [showPreview]="false"
        [enableFrequentEmojiSort]="false"
      ></emoji-mart>
    </mat-card>
  </div>
  