<mat-card>
  <div class="flex flex-col overflow-auto">
    <div class="ch-1">
      <div class="text-xl">Create Post</div>
    </div>
    <div class="ch-2">
      <div class="mt-3">
        <app-community-dropdown-selector
          (emitSelectedCommunity)="emittedSelectedCommunity($event)"></app-community-dropdown-selector>
      </div>
    </div>
    <form [formGroup]="createPostForm">
      <div class="ch-3">
        <div class="flex flex-row">
          <div class="mt-3 justify-start items-center">
            <mat-button-toggle-group formControlName="postType" name="fontStyle" aria-label="Font Style">
              <mat-button-toggle value="TEXT"><mat-icon
                  class="mr-2 text-sm">text_fields</mat-icon>Text</mat-button-toggle>
              <mat-button-toggle value="MULTIMEDIA"><mat-icon class="mr-2 text-sm">image</mat-icon>Image &
                Video</mat-button-toggle>
              <mat-button-toggle value="LINK"><mat-icon class="mr-2 text-sm">link</mat-icon>Link</mat-button-toggle>
            </mat-button-toggle-group>
          </div>
          <div class="flex-1"></div>
        </div>
      </div>
      <div class="ch-4">
        <mat-form-field appearance="outline" class="w-full mt-3">
          <mat-label>Post Title</mat-label>
          <div class="flex items-center justify-between">
            <input formControlName="title" matInput placeholder="Enter post title ..." required />
          </div>
          <mat-error></mat-error>
        </mat-form-field>
      </div>
      <div *ngIf="this.createPostForm?.value?.postType === 'TEXT'" class="ch-5">
        <app-post-body-editor (emitBody)="emittedTextBody($event)"></app-post-body-editor>
      </div>
      <div *ngIf="this.createPostForm?.value?.postType === 'MULTIMEDIA'" class="ch-5">
        <app-upload-multimedia [createPostForm]="createPostForm"></app-upload-multimedia>
      </div>
      <div class="ch-6">
        <div class="mt-4 flex flex-row">
          <div class="flex-1"></div>
          <div (click)="createPost()" class="cursor-pointer justify-end rounded-full bg-gray-600">
            <div class="flex flex-row justify-start items-center">
              <button mat-button [disabled]="createPostForm.invalid || uploading" class="flex justify-start items-center">
                <span>Post</span>
              </button>
                <mat-spinner *ngIf="uploading" class="ml-[-10px] mr-2" style="color: white;" [diameter]="18"></mat-spinner>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</mat-card>