:host {
  width: 100%;
  display: block;
}

mat-card {
  border-radius: 15px;
}

::ng-deep .mat-form-field-appearance-outline .mat-form-field-infix {
  padding: 0.5em 0 0.9em 0 !important;
}

.mat-button-toggle-group {
    height: 32px;
    align-items: center;
  }