<div [ngClass]="comment.parentCommentId ? 'ml-2': ''" class="flex mr-2 flex-col">
  <div class="flex w-full flex-col relative">
    <div class="w-auto flex flex-row p-2 h-auto">
      <div
        class="w-6 h-6 rounded-full bg-gray-200 flex items-center justify-center overflow-hidden"
      >
        <img
          src="assets/images/reddit-tab-icon.png"
          alt="user"
          class="object-cover"
        />
      </div>
      <div class="flex ml-2 flex-row justify-start items-center">
        <span class="mr-1 font-bold text-gray-300">u/{{ comment.createdBy }}</span>
        <span class="mr-1">•</span>
        <span class="mr-1 text-xs">{{  sharedService.timeSinceCalculator(comment.updatedAt!) }}</span>
      </div>
    </div>
    <div>
      <div class="flex flex-col">
        <div class="ml-2">
          <markdown style="margin: 0px 0px 0px 0px;" [data]="comment.content"></markdown>
        </div>
        <div>
          <div class="flex flex-row">
            <button class="flex mb-1 mr-2">
              <span class="flex items-center">
                <div class="pl-1 mr-1 pr-1 rounded-full">
                  <mat-icon (click)="upvoteOrDownComment(comment,upward)" [ngClass]="comment.upvotedByCurrentUser? 'bg-blue-700 text-white rounded-full':''" class="text-lg hover:font-bold hover:text-blue-300"
                    >arrow_upward</mat-icon
                  >
                </div>
                <span class="text-xs mr-1 font-bold rounded-full">{{ comment.totalUpvoteCount! - comment.totalDownVoteCount! }}</span>
                <div class="pl-1 ml-1 pr-1 rounded-full">
                  <mat-icon (click)="upvoteOrDownComment(comment,downward)" [ngClass]="comment.downVotedByCurrentUser? 'text-white bg-red-700 rounded-full':''" class="text-lg hover:font-bold hover:text-red-400"
                    >arrow_downward</mat-icon
                  >
                </div>
                <div
                  (click)="showReplyEditor = !showReplyEditor"
                  matTooltip="Comment"
                  class="pl-1 ml-1 pr-1 rounded-full"
                >
                  <mat-icon class="text-lg hover:font-bold hover:text-blue-400"
                    >comment</mat-icon
                  >
                </div>
                <div matTooltip="Share" class="pl-1 ml-1 pr-1 rounded-full">
                  <mat-icon class="text-lg hover:font-bold hover:text-blue-400"
                    >share</mat-icon
                  >
                </div>
                <div matTooltip="Report" class="pl-1 ml-1 pr-1 rounded-full">
                  <mat-icon class="text-lg hover:font-bold hover:text-red-400"
                    >report</mat-icon
                  >
                </div>
              </span>
            </button>
          </div>
        </div>
        <div *ngIf="showReplyEditor">
          <app-reddit-comment-reply-editor
            (showReplyEditor)="emittedShowReplyEditorEvent($event)"
            (emitComment)="emittedComment($event, comment)"
          ></app-reddit-comment-reply-editor>
        </div>
        <div *ngIf="comment.replies?.length! > 0">
          <div class="flex ml-2 items-center text-blue-400">
            <div
              (click)="toggleExpand()"
              class="text-xs hover:cursor-pointer w-auto"
            >
              {{ comment.isExpanded ? "Hide Replies" : "View Replies" }}
            </div>
            <div class="pl-1 hover:cursor-pointer mr-1 pr-1 rounded-full">
              <mat-icon class="text-lg hover:font-bold">view_timeline</mat-icon>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <mat-divider *ngIf="!comment.parentCommentId"></mat-divider>
  <div *ngIf="comment.isExpanded" class="ml-[34px] mt-2 border-l-[1px] border-[rgb(61,61,61)]">
    <app-reddit-comments
      *ngFor="let reply of comment.replies"
      [comment]="reply"
    ></app-reddit-comments>
  </div>
</div>
