.border-b-custom {
  border-bottom: 1px solid white; /* Adjust color as needed */
  position: relative;
  width: 100%; /* Full width of the container */
  max-width: 65px; 
  border-bottom-left-radius: 5px;
  margin-left: 2px;/* Adjust as needed */
}

::ng-deep .mat-typography p {
  margin: 0px 0 5px;
}