<div class="flex flex-1" style="height: 89vh">
    <!-- Left 70% Content Area -->
    <div class="flex flex-col w-7/10">
        <!-- Top 30% Content -->
        <div class="h-2/10 p-2">
            <app-community-header></app-community-header>
            <div class="mt-4">
                <mat-divider></mat-divider>
            </div>
        </div>
        <!-- Bottom 70% Content -->
        <div class="h-8/10 p-2 overflow-auto">
            <app-reddit-posts></app-reddit-posts>
        </div>
    </div>
    
    <!-- Right 30% Sidebar -->
    <div class="w-3/10 overflow-auto">
        <mat-card style="border-radius: 15px;" class="bg-[rgb(33,33,33)] mr-2">
            <div class="flex p-2 h-full">
                <app-community-right-sidebar class="h-full"></app-community-right-sidebar>
            </div>
        </mat-card>
    </div>
</div>