<form [formGroup]="communityStepperForm">
    <div formGroupName="communityNameAndDescription">
        <div class="flex flex-col w-full">
            <div class="flex flex-row w-full items-center space-x-4">
                <div class="w-1/6">
                    <div class="relative">
                        <div (click)="fileInput.click()" class="w-20 h-20 rounded-full bg-gray-200 flex items-center justify-center cursor-pointer hover:bg-gray-300 overflow-hidden">
                            <ng-container *ngIf="imageSrc; else uploadIcon">
                                <img [src]="imageSrc" alt="Community Image" class="w-full h-full object-cover">
                            </ng-container>
                            <ng-template #uploadIcon>
                                <mat-icon class="text-gray-600" style="font-size: 1.5rem;">cloud_upload</mat-icon>
                            </ng-template>
                        </div>
                        <button *ngIf="imageSrc" (click)="removeImage()" class="absolute pt-2 border border-white top-1 right-1 bg-gray-700 text-white-500 rounded-full  hover:bg-red-500 hover:text-white flex justify-center items-center">
                            <mat-icon style="font-size: .8rem;">delete</mat-icon>
                        </button>
                        <input type="file" #fileInput  (change)="onFileSelected($event)" accept="image/*" hidden>
                    </div>
                </div>
                <div class="w-3/4">
                    <mat-form-field appearance="outline" class="w-full">
                        <mat-label>Community Name</mat-label>
                        <div class="flex items-center justify-between">
                            <span *ngIf="communityStepperForm.value.communityNameAndDescription.name" class="mr-1 text-gray-100 text-[18px] font-bold">r/</span>
                            <input class="padding-left: 2ch;" matInput placeholder="Community Name" formControlName="name" required>
                        </div>
                        <mat-error appFormError [control]="communityStepperForm.get('communityNameAndDescription')?.get('name')!" [form]="communityStepperForm"></mat-error>
                    </mat-form-field>
                </div>
            </div>
            <div class="flex flex-row w-full mt-4">
                <mat-form-field appearance="outline" class="w-full">
                    <textarea placeholder="Community Description" matInput formControlName="description" rows="5"></textarea>
                </mat-form-field>
            </div>
        </div>
    </div>
<div class="flex justify-between items-end mt-6">
    <span></span>
    <button mat-stroked-button class="relative bg-blue-600 text-white rounded flex justify-center items-center" matStepperNext>Next</button>
</div>
</form>