/* You can add global styles to this file, and also import other style files */

@tailwind base;
@tailwind components;
@tailwind utilities;

@import '@ctrl/ngx-emoji-mart/picker';

pre {
    @apply overflow-x-auto;
}
  
  /* Additional styling for better code block appearance */
pre, code {
    @apply bg-gray-800 p-2 mr-2 block text-xs rounded;
}

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.mat-progress-spinner circle, .mat-spinner circle {
    stroke: wheat;
}

.mat-form-field-appearance-outline.mat-focused .mat-form-field-outline-thick {
    color: white;
}

// mat-icon-stepper selected color change 
.mat-step-header .mat-step-icon-selected,
.mat-step-header .mat-step-icon-state-done,
.mat-step-header .mat-step-icon-state-edit {
    background-color: red !important;
}

//input outline color
.mat-form-field-appearance-outline .mat-form-field-outline {
    color: whitesmoke !important;
    // opacity: 1!important;
}

//mat-input focused color
.mat-form-field-appearance-outline.mat-focused .mat-form-field-outline-thick {
    color: white !important;
}

// mat-input error outline color
.mat-form-field-appearance-outline.mat-form-field-invalid.mat-form-field-invalid .mat-form-field-outline-thick {
    color: red !important;
}

// mat-input carent color
.mat-input-element {
    caret-color: white !important;
}

// mat-input error carent color
.mat-form-field-invalid .mat-input-element,
.mat-warn .mat-input-element {
    caret-color: red !important;
}

// mat-label normal state style
.mat-form-field-label {
    color: whitesmoke(0, 0, 0, .6) !important;
    // color: $mainColor!important;
}

// mat-label focused style
.mat-form-field.mat-focused .mat-form-field-label {
    color: white !important;
}

// mat-label error style
.mat-form-field.mat-form-field-invalid .mat-form-field-label {
    color: red !important;
}

:root {
    --mat-form-field-active-color: #e5e1eb;
    /* Example color */
    --mat-form-field-hover-color: #399375;
    /* Example color */
    --mat-form-field-default-color: #1d0b9653;
    /* Example color */
    --ngx-editor-bg: rgb(66, 66, 66);
    --ngx-editor-color: rgb(206, 209, 214);
    --ngx-editor-toolbar-bg: rgb(66, 66, 66);
    --ngx-editor-toolbar-color: rgb(206, 209, 214);
    --ngx-editor-toolbar-popup: rgb(66, 66, 66);
}



/* Apply styles to ngx-editor components */
.NgxEditor__Wrapper .NgxEditor__MenuBar {
    background-color: var(--ngx-editor-toolbar-bg) !important;
    color: var(--ngx-editor-toolbar-color) !important;
}

.NgxEditor__Wrapper {
    border: none !important;
    width: 100%;
}



.NgxEditor__Content {
    background-color: var(--ngx-editor-bg) !important;
    color: var(--ngx-editor-color) !important;
    min-height: 20px;
    padding: 10px;
    border: none;
}

.NgxEditor__Popup {
    position: absolute;
    top: 32px;
    background-color: var(--ngx-editor-toolbar-popup) !important;
    z-index: 10;
    min-width: 192px;
    padding: 8px;
}

.NgxEditor__Popup input {
    background-color: white !important;
    color: black;
    border-color: red;
}

/* styles.css or styles.scss */
::-webkit-scrollbar {
    width: 5px;
  }
  
  ::-webkit-scrollbar-track {
    background: transparent;
  }
  
  ::-webkit-scrollbar-thumb {
    background: #888;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
  