
<mat-chip-list *ngFor="let topic of topics$ | async" aria-label="Favorite topics" class="space-y-2">
    <div class="flex flex-col">
        <div class=" flex mt-1">
            <mat-chip (click)="selectPrimaryTopic(topic)"
                class="flex items-center justify-between p-2 rounded-md p-selected hover:cursor-pointer">
                {{topic.name}}
                <button *ngIf="topic.selected" matChipRemove
                    (click)="removePrimaryTopic(topic); $event.stopPropagation()" class="ml-2">
                    <mat-icon>cancel</mat-icon>
                </button>
            </mat-chip>
        </div>
        <div class=" flex mt-1 mb-6">
            <mat-chip-list class="flex flex-wrap">
                <mat-chip *ngFor="let child of topic.children" (click)="selectSecondryTopic(child)"
                    [ngClass]="{ 'selected': child.selected, 'not-selected': !child.selected }"
                    class="p-2 flex flex-wrap rounded-md hover:bg-gray-200 hover:cursor-pointer">
                    {{child.name}}
                    <button *ngIf="child.selected && !topic.selected" matChipRemove
                        (click)="removeSecondryTopic(child); $event.stopPropagation()">
                        <mat-icon>cancel</mat-icon>
                    </button>
                </mat-chip>
            </mat-chip-list>
        </div>
    </div>
</mat-chip-list>
<div *ngIf="(topics$ | async)?.length === 0" class="flex flex-col items-center justify-center mt-4 v-screen space-y-4">
    <div>Unable to load topics.. try again!</div>
    <div class="text-xs cursor-pointer text-blue-500">
      <a (click)="ngOnInit()" class="underline">Load again</a>
    </div>
</div>
<div class="flex justify-between items-end mt-6">
    <button mat-stroked-button class="relative bg-gray-600 text-white rounded flex justify-center items-center" matStepperPrevious>Back</button>
    <button mat-stroked-button class="relative bg-blue-600 text-white rounded flex justify-center items-center" (click)="patchSelectedTopics()"  matStepperNext>Next</button>
</div>