.selected {
    background-color: rgb(0, 122, 249);
    color: white;
  }
  
  .not-selected {
    background-color: gray;
    color: whitesmoke;
  }

  .p-selected {
    background-color: red;
    color: white;
  }