<form [formGroup]="communityStepperForm">
<div *ngFor="let item of matRadioOptions">
    <div class="flex items-center justify-between p-4 rounded-md ">
        <div class="flex items-center">
            <mat-icon class="text-gray-400 mr-3">{{ item.icon }}</mat-icon>
            <div class="flex flex-col">
                <span class="text-sm">{{ item.name | titlecase }}</span>
                <span class="text-xs">{{ item.description }}</span>
            </div>
        </div>
        <mat-radio-button [disabled]="disableFormWhileUploading | async" (change)="accessibilityModification(item.name)" [value]="item.name" color="warn" [checked]="item.checked"></mat-radio-button>
    </div>
</div>
<mat-divider></mat-divider>
<div class="flex items-center justify-between p-4 rounded-md ">
    <div class="flex items-center">
        <mat-icon class="text-gray-400 mr-3">18_up_rating</mat-icon>
        <div class="flex flex-col">
            <span class="text-sm">Mature (18+)</span>
            <span class="text-xs">Users must be over 18 to view and contribute</span>
        </div>
    </div>
    <mat-slide-toggle formControlName="isAdult" color="warn"></mat-slide-toggle>
</div>
<div class="flex justify-between items-end mt-6">
    <button [disabled]="disableFormWhileUploading | async" mat-stroked-button class="relative bg-gray-600 text-white rounded flex justify-center items-center" matStepperPrevious>Back</button>
    <button [disabled]="communityStepperForm.invalid || (disableFormWhileUploading | async)" mat-stroked-button class="relative bg-blue-600 text-white rounded flex justify-center items-center" (click)="createCommunity()" >Create Community</button>
</div>
</form>
