<div class="relative">
    <button (click)="toggleDropdown(); $event.stopPropagation()" class="w-auto bg-[rgb(48,48,48)] text-white py-2 px-4 rounded-md flex items-center justify-between">
      <span>{{ selectedCommunity?.communityName || 'Select Community' }}</span>
      <svg class="w-4 h-4 ml-4" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7" />
      </svg>
    </button>
  
    <div *ngIf="isOpen" class="absolute mt-2 w-auto bg-[rgb(48,48,48)] shadow-md rounded-md z-10">
      <input [(ngModel)]="searchText" (input)="filterCommunities(); $event.stopPropagation()" type="text" class="w-full mr-3 border-b border-white text-white bg-[rgb(48,48,48)] px-4 py-2" placeholder="Search communities...">
      <ul class="flex flex-col h-[40vh] overflow-auto">
        <div *ngIf="(userName$ | async) as user" class="w-full text-xs text-gray-400 flex justify-start items-center mt-2 ml-3 p-1">Your profile</div>
        <li class="cursor-pointer hover:bg-gray-600 text-white  px-4 py-2">
          <div class="flex p-1 items-center flex-row">
            <img src="assets/images/reddit-tab-icon.png" class="w-8 h-8 rounded-full inline-block mr-2">
            <div  class="flex flex-col">
              <span>{{  (userName$ | async)?.email.split('@')[0] }}</span>
              <span class="text-xs text-gray-400">100 members</span>
            </div>
          </div>
        </li>
        <div class="w-full text-xs text-gray-400 flex justify-start items-center mt-2 ml-3 p-1">Your communities</div>
        <li *ngFor="let community of filteredCommunities$ | async" (click)="selectCommunity(community); $event.stopPropagation()"
        [ngClass]="selectedCommunity?.communityName === community?.communityName? 'bg-gray-600': '' " 
        class="cursor-pointer hover:bg-gray-600 text-white  px-4 py-2">
          <div class="flex p-1 items-center flex-row">
            <img [src]="community?.communityProfileImageUrl" alt="{{ community?.communityName }}" class="w-8 h-8 rounded-full inline-block mr-2">
            <div  class="flex flex-col">
              <span>{{ community?.communityName }}</span>
              <span class="text-xs text-gray-400">100 members</span>
            </div>
          </div>

        </li>
      </ul>
    </div>
</div>