<div class="flex items-center space-x-4">
    <div *ngIf="!(isAuthenticated$ | async)">
      <button 
        mat-flat-button
        class="login"
        color="warn" 
        (click)="initiateLogIn()"
      >
        Log In
      </button>
    </div>
    <div *ngIf="isAuthenticated$ | async" class="flex items-center space-x-2">
      <!-- Profile icon -->
      <div matTooltip="Open Profile Menu" (click)="openProfileOverlay()" class="relative cursor-pointer w-10 h-10 rounded-full bg-gray-300 flex items-center justify-center text-white text-xl">
        <span class="fill-current">
            <img src="assets/images/reddit-tab-icon.png" alt="Profile Picture" width="35" height="35" class="rounded-full">
          </span>
      </div>
    </div>
  </div>