<div class="NgxEditor__Wrapper">
  <mat-card>
    <ngx-editor-menu [editor]="editor" [toolbar]="toolbar"></ngx-editor-menu>
    <ngx-editor
      class="editor-content"
      placeholder="Add comment..."
      [(ngModel)]="editorMessage"
      [editor]="editor"
    ></ngx-editor>
    <span class="flex flex-row items-center">
      <mat-icon
        [ngClass]="showEmojiEditor ? 'text-gray-500 rounded-full' : 'p-0'"
        (click)="showEmojiEditor = !showEmojiEditor"
        class="mr-1 cursor-pointer text-[20px]"
        >emoji_emotions</mat-icon
      >
      <mat-icon class="mr-1 cursor-pointer text-[20px]">image</mat-icon>
      <mat-icon class="mr-1 cursor-pointer text-[20px]">gif_box</mat-icon>
      <div class="flex-1"></div>
      <span class="flex flex-row justify-end">
        <span
          (click)="closeReplyEditor()"
          class="cursor-pointer text-xs mr-2 bg-gray-500 rounded-full pt-2 pb-2 pl-4 pr-4"
          >Cancel</span
        >
        <span class="cursor-pointer text-xs bg-gray-500 rounded-full pt-2 pb-2 pl-4 pr-4"
        (click)="addComment()"
          >Comment</span
        >
      </span>
    </span>
    <emoji-mart
      *ngIf="showEmojiEditor"
      (emojiClick)="addEmoji($event)"
      class="absolute z-10"
      [hideRecent]="true"
      [emojiSize]="20"
      [showPreview]="false"
      [enableFrequentEmojiSort]="false"
    ></emoji-mart>
  </mat-card>
</div>
