<div class="flex h-[89vh] flex-row">
  <div id="single-post-details" class="w-7/10 relative overflow-auto">
    <div *ngIf="postDetailsData$ | async as postDetailsData" class="flex flex-col mt-4 ml-3">
      <div class="flex flex-col">
        <div class="ch-1">
          <div class="flex flex-row">
            <div (click)="
                backToCommunityPage(postDetailsData?.communityData?.id!);
                $event.stopPropagation()
              " class="ch-1 cursor-pointer rounded-full p-1 pl-2 pr-2 pt-2 text-xs bg-gray-600">
              <mat-icon>arrow_back</mat-icon>
            </div>
            <div class="ch-2 ml-2 w-10 h-10 rounded-full bg-gray-200 flex items-center justify-center overflow-hidden">
              <img [src]="postDetailsData?.communityData?.communityProfileImageUrl" alt="Community Image"
                class="object-cover" />
            </div>
            <div class="ch-3">
              <div class="flex flex-col">
                <div class="ch-1 ml-1 text-gray-400 font-bold">
                  {{ postDetailsData?.communityData?.communityName }}
                  <span class="mr-1">•</span>
                  <span class="text-gray-300 mr-1 text-xs">{{
                    sharedService.timeSinceCalculator(
                    postDetailsData?.postData?.updatedAt!
                    )
                    }}</span>
                </div>
                <div class="ch-2 ml-1 text-gray-100">
                  {{ postDetailsData?.postData?.createdBy }}
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="ch-2">
          <div class="mt-2 font-bold text-xl">
            {{ postDetailsData?.postData?.textTitle }}
          </div>
        </div>
        <div class="ch-3">
          <div class="mt-2 break-words">
            <markdown [data]="postDetailsData?.postData?.textBody"></markdown>
          </div>
        </div>
        <div class="multimedia">
          <div
            *ngIf="postDetailsData?.postData?.imageUrls?.length! || postDetailsData?.postData?.videoUrls?.length!>  0"
            class="h-[60vh] mt-2 w-full">
            <div class="relative flex items-center justify-center w-full h-full overflow-hidden">
              <button *ngIf="postDetailsData?.postData?.imageUrls?.length!>1" type="button"
                (click)="previousFile(); $event.stopPropagation()" class="rounded-full absolute z-10 left-0 p-2">
                <mat-icon>chevron_left</mat-icon>
              </button>

              <div class="rounded-xl mr-4 flex h-full w-full bg-black justify-center items-center">
                <ng-container *ngIf="postDetailsData?.postData?.imageUrls?.length! > 0; else videoTemplate">
                  <div class="relative h-full w-full">
                    <div *ngIf="isImageRendering" class="absolute inset-0 flex items-center justify-center">
                      <mat-spinner [diameter]="18"></mat-spinner>
                    </div>
                    <img
                      [src]="currentFile(postDetailsData?.postData?.imageUrls!).urlPath"
                      class="h-full w-full object-contain rounded-lg" 
                      (load)="onImageLoad()" 
                      (error)="onImageError()" 
                      [hidden]="isImageRendering"
                    />
                  </div>
                </ng-container>
                <ng-template #videoTemplate>
                  <div class="relative h-full w-full">
                    <video controls class="h-full w-full object-contain rounded-lg">
                      <source [src]="postDetailsData?.postData?.videoUrls![0].urlPath" type="video/mp4" />
                    </video>
                  </div>
                </ng-template>
              </div>
              <button *ngIf="postDetailsData?.postData?.imageUrls?.length!>1" type="button"
                (click)="nextFile(postDetailsData?.postData?.imageUrls!); $event.stopPropagation()"
                class="rounded-full absolute z-10 right-0 mr-4 p-2">
                <mat-icon>chevron_right</mat-icon>
              </button>
              <button *ngIf="postDetailsData?.postData?.imageUrls?.length!>1" type="button"
                class="rounded-full font-bold mt-2 ml-2 absolute z-10 left-0 text-xs rounded-full bg-gray-600 pl-4 pr-4 top-0 mr-4 p-2">
                {{currentIndex+1}}/{{postDetailsData?.postData?.imageUrls?.length}}
              </button>
            </div>
          </div>
        </div>
        <div class="ch-4">
          <div class="flex mt-2 justify-start items-center flex-row">
            <button class="flex border mr-2 rounded-full" [ngClass]="{
                'bg-red-700': postDetailsData?.postData?.currentUserDownVoted,
                'bg-blue-700': postDetailsData?.postData?.currentUserUpVoted
              }">
              <span class="flex items-center">
                <div (click)="
                    onPostUpwardAndDownOperation(upward, postDetailsData?.postData!)
                  " class="pl-1 mr-1 pr-1 rounded-full">
                  <mat-icon class="text-lg hover:font-bold hover:text-blue-300">arrow_upward</mat-icon>
                </div>
                <span class="text-xs mr-1 font-bold rounded-full">{{
                  postDetailsData?.postData?.upVotesCount! -
                  postDetailsData?.postData?.downVotesCount!
                  }}</span>
                <div (click)="
                    onPostUpwardAndDownOperation(
                      downward,
                      postDetailsData?.postData!
                    )
                  " class="pl-1 ml-1 pr-1 rounded-full">
                  <mat-icon class="text-lg hover:font-bold hover:text-red-400">arrow_downward</mat-icon>
                </div>
              </span>
            </button>
            <button class="flex pt-1 pl-3 pr-3 pb-1 bg-gray-600 mr-2 rounded-full">
              <div class="flex text-xs font-bold text-gray-300 items-center">
                <mat-icon class="text-lg mr-1 hover:font-bold hover:text-blue-400">comment</mat-icon>
                {{ totalElements }}
              </div>
            </button>
          </div>
        </div>
        <div class="ch-5">
          <div *ngIf="!showCommentBox" (click)="showCommentBox = !showCommentBox"
            class="mt-4 mr-4 p-3 bg-[rgb(66,66,66)] rounded-full cursor-pointer">
            <button>Add a comment ... </button>
          </div>
        </div>
        <div class="ch-6">
          <div *ngIf="showCommentBox" class="mt-5">
            <app-reddit-comment-reply-editor (showReplyEditor)="emittedShowReplyEditorEvent($event)"
              (emitComment)="emittedComment($event, postDetailsData.postData)">
            </app-reddit-comment-reply-editor>
          </div>
        </div>
        <div class="ch-7">
          <div class="mt-5">
            <app-reddit-comments *ngFor="let comment of comments$ | async" [comment]="comment"></app-reddit-comments>
          </div>
        </div>
        <div *ngIf="(comments$|async)?.length === 0">
          <div class="flex flex-row">
            <div class="">
              <div class="flex">
                <img src="assets/images/comment.png" class="h-20 w-full" alt="Comment Image">
              </div>
            </div>
            <div class="">
              <div class="flex flex-col h-full">
                <div class="mt-3">
                  <span class="text-lg font-bold">Be the first to comment !</span>
                </div>
                <div>
                  <span class="block text-xs">Nobody's responded to this post yet.</span>
                  <span class="block text-xs">Add your thoughts and get the conversation going.</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="community-details" class="w-3/10 relative overflow-auto">
    <mat-card style="border-radius: 15px;" class="bg-[rgb(33,33,33)] mr-4 mt-4">
      <div class="flex p-2 w-full h-full">
        <app-post-details-right-sidebar class="h-full w-full"></app-post-details-right-sidebar>
      </div>
    </mat-card>
  </div>

</div>