<div *ngFor="let alert of alerts">
  <div *ngIf="component === alert.componentId"
       class="w-full p-3 rounded-sm shadow-lg z-50 flex justify-between items-center"
       [ngClass]="{
         'bg-green-500 text-white': alert.type === 'success',
         'bg-red-500 text-white': alert.type === 'error',
         'bg-blue-500 text-white': alert.type === 'info',
         'bg-yellow-500 text-black': alert.type === 'warning'
       }">
    <span>{{ alert.message }}</span>
    <mat-icon class="ml-3">{{ iconMap[alert.type] }}</mat-icon>
  </div>
</div>