<div *ngIf="!singleCommunityData$" class="flex justify-center mt-9">
    <mat-spinner color="accent" diameter="50" class="loading"></mat-spinner>
</div>
<div *ngIf="singleCommunityData$ | async as singleCommunityData" class="flex flex-col w-full">
    <div class="flex flex-row w-full items-center">
        <div>
            <div class="relative">
                <div class="w-12 h-12 rounded-full bg-gray-200 flex items-center justify-center overflow-hidden">
                        <img
                        [src]="singleCommunityData?.communityProfileImageUrl ?
                        singleCommunityData?.communityProfileImageUrl : defaultImage"
                        alt="community"
                        class="object-cover">
                </div>
            </div>
        </div>
        <div>
            <span class="ml-2 text-lg font-bold">{{ singleCommunityData?.communityName }}</span>
        </div>
        <div class="flex-1"></div>
        <div class="flex mr-4">
            <button (click)="createPost()" matPrefix class="hover:bg-redPrimary text-sm font-bold p-2 pl-4 pr-4 border flex items-center rounded-full text-white">
                Create Post
            </button>
        </div>
        <div class="flex mr-4">
            <button (click)="joinOrUnjoinCommunity(singleCommunityData!)"  matPrefix class="hover:bg-redPrimary text-sm font-bold p-2 pl-4 pr-4 border flex items-center rounded-full text-white">
                {{ singleCommunityData?.loggedUserMember ? 'Joined': 'Join' }}
            </button>
        </div>
    </div>
    <div class="mt-4">
        <mat-button-toggle-group name="fontStyle" aria-label="Font Style">
            <mat-button-toggle value="bold">Rising</mat-button-toggle>
            <mat-button-toggle value="italic">New</mat-button-toggle>
            <mat-button-toggle value="underline">Top</mat-button-toggle>
            <mat-button-toggle value="underline"><mat-icon class="mr-2">trending_up</mat-icon>Hot</mat-button-toggle>
        </mat-button-toggle-group>
    </div>
</div>
