<div class="flex h-full flex-col items-center">
    <div class="flex w-full justify-center border-2 border-dotted items-center bg-[rgb(33,33,33)] p-1 rounded-lg"
        (drop)="onFileDrop($event)" (dragover)="allowDrop($event)">
        <div><span>Drag and Drop images or videos or</span></div>
        <div class="ml-2">
            <input type="file" (change)="onFileSelected($event)" multiple hidden id="file-input" />
            <label for="file-input" class="cursor-pointer ml-2">
                <mat-icon class="p-0 cursor-pointer rounded-full bg-gray-400 upload">upload</mat-icon>
            </label>
        </div>
    </div>

    <div *ngIf="imagesArray.length > 0 || videoFile" class="h-[40vh] mt-2 w-full">
        <div class="relative flex items-center justify-center w-full h-full overflow-hidden">
            <button *ngIf="imagesArray.length>1" type="button" (click)="previousFile(); $event.stopPropagation()" class="rounded-full absolute z-10 left-0 p-2">
                <mat-icon>chevron_left</mat-icon>
            </button>

            <div class="flex h-full w-full bg-black justify-center items-center">
                <ng-container *ngIf="imagesArray.length > 0; else videoTemplate">
                    <div class="relative h-full w-full">
                        <img [src]="currentFile.url" class="h-full w-full object-contain rounded-lg" />
                        <button (click)="removeFile(currentFile)"
                            class="absolute top-2 right-2 text-red-500 bg-white rounded-full p-0">
                            <mat-icon class="delete">delete</mat-icon>
                        </button>
                    </div>
                </ng-container>
                <ng-template #videoTemplate>
                    <div class="relative h-full w-full">
                      <video controls class="h-full w-full object-contain rounded-lg">
                        <source [src]="videoFile?.url" [type]="videoFile?.file?.type" />
                      </video>
                      <button type="button" (click)="removeFile(videoFile!)" class="absolute top-2 right-2 text-red-500 bg-white rounded-full p-0">
                        <mat-icon class="delete">delete</mat-icon>
                      </button>
                    </div>
                  </ng-template>
            </div>
            <button *ngIf="imagesArray.length>1" type="button" (click)="nextFile(); $event.stopPropagation()" class="rounded-full absolute z-10 right-0 p-2">
                <mat-icon>chevron_right</mat-icon>
            </button>
        </div>
        <div *ngIf="currentFile">
            <mat-progress-bar mode="determinate" [value]="s3Frontend.getProgressOfFile(currentFile.file.name)"></mat-progress-bar>
        </div>
        <div *ngIf="videoFile">
            <mat-progress-bar mode="determinate" [value]="s3Frontend.getProgressOfFile(videoFile.file.name)"></mat-progress-bar>
        </div>
        <div class="mt-1 text-xs font-bold">
            <div>
              <div class="text-md">Uploading :</div>
              <span *ngIf="currentFile">{{ currentFile.file.name }} : {{ s3Frontend.getProgressOfFile(currentFile.file.name) }} % </span>
              <span *ngIf="videoFile">{{ videoFile.file.name }} : {{ s3Frontend.getProgressOfFile(videoFile.file.name) }} % </span>
            </div>
          </div>
    
    </div>
</div>