<div class="fixed top-16 right-4 z-50 flex flex-col text-white bg-greyPrimary rounded-lg shadow-md w-48">
    <div class="w-full">
        <button class="flex w-full items-center px-4 py-2 text-sm text-left hover:bg-gray-500 rounded-lg focus:outline-none">
            <span class="fill-current text-gray-400 mr-2">
              <img src="assets/images/reddit-tab-icon.png" alt="Profile Picture" width="32" height="32" class="rounded-full">
            </span>
            <div class="flex flex-col">
              <span class="font-semibold">View Profile</span>
              <span class="text-gray-400">{{ (userName$ | async)?.email.split('@')[0] }}</span>
            </div>
          </button>  
    </div>
    <div>
        <ul class="text-white-700">
            <li class="px-4 py-2 hover:bg-gray-500 rounded-lg">
              <a routerLink="/settings">Settings</a>
            </li>
            <li (click)="logout()" class="px-4 py-2 hover:bg-gray-500 rounded-lg">
              <a>Logout</a>
            </li>
          </ul>
    </div>

  </div>