<div class="mt-2 bg-greyPrimary p-4 shadow-lg rounded-bl-[20px] rounded-br-[20px] w-full">
  <ng-container *ngIf="isGlobalSearchData; else noDataTemplate">
    <div class="">
      <div *ngIf="(nonEnrichedSearchResponse$ |async)?.communities?.length! > 0" id="communities">
        <span class="font-bold text-sm text-white">Communities</span>
        <div *ngFor="let community of (nonEnrichedSearchResponse$ | async)?.communities">
          <div (click)="selectCommunity(community)" class="w-auto flex cursor-pointer flex-row p-3 h-auto">
            <div
              class="w-8 h-8 rounded-full bg-gray-200 flex items-center justify-center overflow-hidden"
            >
              <img
                [src]="community?.communityProfileImageUrl"
                alt="user"
                class="object-cover"
              />
            </div>
            <div class="flex ml-2 flex-col">
              <span class="mr-1 text-sm text-gray-300">{{ community.communityName }}</span>
              <span class="mr-1 text-gray-300 text-xs">{{ community.communityMembers?.length }} members</span>
            </div>
        </div>
      </div>
      </div>
    </div>
  </ng-container>
  <ng-template #noDataTemplate>
    <div class="flex flex-row items-center">
      <span class="text-sm"> No data available</span>
      <mat-icon class="icon-size-transform">error</mat-icon>
    </div>
  </ng-template>

</div>
