<div class="flex flex-col">
    <div class="ch-1">
        <span class="text-lg font-bold"> Dummy Community </span>
    </div>
    <div class="ch-2">
        <span class="text-sm text-gray-400"> Dummy Community Description </span>
    </div>
    <div class="ch-3 mt-4">
        <mat-divider></mat-divider>
    </div>
    <div class="ch-4 mt-2">
        <div class="flex flex-row items-center justify-between">
            <div class="flex flex-col justify-between items-center">
                <span class="mr-1">3M</span>
                <span class="text-gray-400">Members</span>
            </div>
            <div class="flex flex-col justify-between items-center">
                <button class="mr-1 text-green-500 flex items-center"><span>500</span></button>
                <span class="text-green-500">Online</span>
                
            </div>
            <div class="flex flex-col justify-between items-center">
                <span class="mr-1">Top 1%</span>
                <span class="text-gray-400">Rank By Size</span>
            </div>
        </div>
    </div>
    <div class="ch-5 mt-4">
        <mat-divider></mat-divider>
    </div>
    <div class="ch-6 mt-4">
        <span class="text-xs">USER FLAIR</span>
    </div>
    <div class="ch-7 mt-4">
        <div class="flex flex-row items-center justify-start mb-2">
            <div class="mr-2 w-9 h-9 rounded-full bg-gray-200 flex items-center justify-center overflow-hidden">
              <img src="assets/images/comment.png" alt="Community Image"
                class="object-cover" />
            </div>
            <span class="font-bold mr-1 text-sm text-gray-300">Dummy User</span>
            <span class="text-redPrimary font-bold mr-1 text-xs"></span>
        </div>
    </div>
    <div class="ch-8" mt-4>
        <span class="text-gray-400">Select your community flair</span>
    </div>
    <div class="ch-5 mt-4">
        <mat-divider></mat-divider>
    </div>
    <div class="ch-8 mt-4">
        <span class="text-xs">COMMUNITY BOOKMARKS</span>
        <div class="flex flex-col mt-4">
            <button class="flex p-2 w-full justify-center rounded-full mb-2 items-center bg-gray-600">About</button>
            <button class="flex p-2 w-full justify-center rounded-full mb-2 items-center bg-gray-600">Rules</button>
            <button class="flex p-2 w-full justify-center rounded-full mb-2 items-center bg-gray-600">Discord</button>
        </div>
    </div>
    <div class="ch-5 mt-4">
        <mat-divider></mat-divider>
    </div>
    <div class="ch-6 mt-4">
        <span class="text-xs">OUR FRIENDS</span>
    </div>
    <div class="ch-7 mt-4">
        <div *ngFor="let friends of ['r/prequel-memes','r/programming-memes','r/college-dunia','r/sports-trend']" class="flex flex-row items-center justify-start mb-2">
            <div class="mr-2 w-9 h-9 rounded-full bg-gray-200 flex items-center justify-center overflow-hidden">
              <img src="assets/images/comment.png" alt="Community Image"
                class="object-cover" />
            </div>
            <div>
                <div class="flex flex-col">
                    <span class="font-bold mr-1 text-sm text-gray-300">{{ friends }}</span>
                    <span class="text-gray-500 font-bold mr-1 text-xs">300,00,00 members</span>
                </div>
            </div>
  
        </div>
    </div>
  </div>