<mat-expansion-panel expanded="true" class="remove-mat-expansion-panel-padding" [class.mat-elevation-z0]="true" dense>
    <mat-expansion-panel-header>
        <span matListItemTitle>Communities</span>
    </mat-expansion-panel-header>
    <mat-nav-list [class.mat-elevation-z0]="true" dense>
        <ul class="flex flex-col w-full text-white-700 items-center">
            <li (click)="createNewCommunity()" class="cursor-pointer px-4 py-2 hover:bg-gray-500 rounded-lg w-full">
                <div class="flex items-center justify-start">
                    <mat-icon matListItemIcon>add</mat-icon>
                    <span class="ml-1">Create a community</span>
                </div>
            </li>
            <li *ngFor="let community of communityData$ | async" (click)="openSubreddit(community); $event.stopPropagation()" class="cursor-pointer px-4 py-2 hover:bg-gray-500 rounded-lg w-full">
                <div class="flex items-center justify-between w-full">
                    <div class="flex items-center">
                        <img [src]="community.communityProfileImageUrl? community.communityProfileImageUrl:'assets/images/reddit-tab-icon.png'" alt="Reddit Icon" class="rounded-full w-7 h-7 mr-2">
                        <span class="ml-1">{{ community.communityName }}</span>
                    </div>
                </div>
            </li>
        </ul>
    </mat-nav-list>
</mat-expansion-panel>
