.content {
    padding: 24px;
}

.sidebar-icon {
    margin-right: 10px;
}

.non-expandable-links {
    font-size: 13px;
}

.expandable-links {
    border-left: 2px solid grey;
    padding-top: 0px;
    margin-left: 10%;

}

.expandable-links:hover {
    border-left: 2px solid white;

}

.mat-list-base[dense] {
    padding-top: 0px;
    border-radius: 0px 3px 3px 0px;
}

.mat-list-base {
    padding-top: 0px;
    display: block;
    -webkit-tap-highlight-color: transparent;
}


.mat-expansion-panel-header.mat-expanded {
    height: 40px;
}

.mat-expansion-panel-header {
    font-size: 14px;
    padding: 0px 17px;
}