<div class="flex items-center justify-center">
  <div class="w-full max-w-md">
    <mat-card>
      <div class="mb-5">
        <mat-card-title class="text-center text-lg font-bold">Sign Up</mat-card-title>
      </div>
      <mat-card-content>
        <form [formGroup]="signupform" (ngSubmit)="registerUser()">
          <div class="mb-2">
            <mat-form-field appearance="outline" class="w-full">
              <mat-label>Email</mat-label>
              <input formControlName="email" matInput placeholder="Enter your email">
              <mat-error appFormError [control]="signupform.get('email')!" [form]="signupform"></mat-error>
            </mat-form-field>
          </div>
          <div class="mb-2">
            <mat-form-field appearance="outline" class="w-full">
              <mat-label>User Name</mat-label>
              <input formControlName="username" matInput placeholder="Enter your User Name">
              <mat-error appFormError [control]="signupform.get('username')!" [form]="signupform"></mat-error>
            </mat-form-field>
          </div>
          <div class="w-full flex items-center">
            <mat-form-field appearance="outline" class="flex-grow relative">
              <mat-label>Password</mat-label>
              <input formControlName="password" matInput type="{{p_hide ? 'password' : 'text'}}" placeholder="Enter your password">
              <mat-error appFormError [control]="signupform.get('password')!" [form]="signupform"></mat-error>
              <span class="absolute right-0 top-1/2 transform -translate-y-1/2 cursor-pointer" (click)="p_hide = !p_hide">
                <mat-icon class="text-[22px]">{{p_hide ? 'visibility' : 'visibility_off'}}</mat-icon>
              </span>
            </mat-form-field>
          </div>
          <div class="w-full flex items-center">
            <mat-form-field appearance="outline" class="flex-grow relative">
              <mat-label>Confirm Password</mat-label>
              <input formControlName="confirmPassword" matInput type="{{cp_hide ? 'password' : 'text'}}" placeholder="Confirm your password">
              <mat-error appFormError [control]="signupform.get('confirmPassword')!" [form]="signupform"></mat-error>
              <span class="absolute right-0 top-1/2 transform -translate-y-1/2 cursor-pointer" (click)="cp_hide = !cp_hide">
                <mat-icon class="text-[22px]">{{cp_hide ? 'visibility' : 'visibility_off'}}</mat-icon>
              </span>
            </mat-form-field>
          </div>
          <div class="mb-4">
            <div *ngIf="!isloading">
              <br />
              <span> Alreay have a account ?</span>
              <button type="button" class="text-blue-400 pl-1" (click)="initiateLogin()">
                Sign In
              </button>
            </div>

          </div>
          <div class="flex flex-col items-center">
            <button type="submit" mat-raised-button [disabled]="isloading || signupform.invalid" class="relative bg-blue-600 text-white p-2 rounded w-full flex justify-center items-center">
              <span>Sign Up</span>
            </button>
          </div>
          <div class="mt-4">
            <app-alert component="sign-up"></app-alert>
          </div>
        </form>
      </mat-card-content>
    </mat-card>
  </div>
</div>