<div *ngFor="let post of (posts$ | async)">
  <div (click)="openPostOnNewComponent(post)" class="flex flex-row w-full cursor-pointer m-1 hover:rounded-lg hover:bg-greyPrimary">
    <!--  85% Content -->
    <div class="p-2 w-full">
      <div class="flex flex-col w-full">
        <!-- user details -->
        <div class="flex flex-row items-center justify-start mb-2">
          <div class="mr-2 w-7 h-7 rounded-full bg-gray-200 flex items-center justify-center overflow-hidden">
            <img src="assets/images/comment.png" alt="Community Image"
              class="object-cover" />
          </div>
          <span class="font-bold mr-1 text-xs text-gray-300">u/{{ post.createdBy }}</span>
          <span class="text-redPrimary font-bold mr-1 text-xs">{{ post.userResponse?.userRoles?.[0] }}</span>
          <span class="mr-1">•</span>
          <span class="text-gray-300 mr-1 text-xs">{{ sharedService.timeSinceCalculator(post.updatedAt!) }}</span>
        </div>
        <!-- subtitle details -->
        <div class="mb-1">
          <span class="text-lg font-bold">{{ post.textTitle }}</span>
        </div>
        <!-- body details -->
        <div class="mb-2">
          <span class="text-sm flex">{{ sharedService.stripHtml(post.textBody!) | truncate:1000 }}</span>
        </div>
        <!-- image and video details -->
        <div
        *ngIf="post?.imageUrls?.length! || post?.videoUrls?.length!>  0"
        class="h-[70vh] mb-4 w-full">
        <div class="relative flex items-center justify-center w-full h-full overflow-hidden">
          <button *ngIf="post?.imageUrls?.length!>1" type="button"
            (click)="previousFile(); $event.stopPropagation()" class="rounded-full absolute z-10 left-0 p-2">
            <mat-icon>chevron_left</mat-icon>
          </button>

          <div class="rounded-xl mr-4 flex h-full w-full bg-black justify-center items-center">
            <ng-container *ngIf="post?.imageUrls?.length! > 0; else videoTemplate">
              <div class="relative h-full w-full">
                <div *ngIf="isImageRendering" class="absolute inset-0 flex items-center justify-center">
                  <mat-spinner [diameter]="18"></mat-spinner>
                </div>
                <img
                  alt="error"
                  [src]="currentFile(post?.imageUrls!).urlPath"
                  class="h-full w-full object-contain rounded-lg"
                  (load)="onImageLoad()"
                  (error)="onImageError()"
                  [hidden]="isImageRendering"
                />
              </div>
            </ng-container>
            <ng-template #videoTemplate>
              <div class="relative h-full w-full">
                <video controls class="h-full w-full object-contain rounded-lg">
                  <source [src]="post?.videoUrls![0].urlPath" type="video/mp4" />
                </video>
              </div>
            </ng-template>
          </div>
          <button *ngIf="post?.imageUrls?.length!>1" type="button"
            (click)="nextFile(post?.imageUrls!); $event.stopPropagation()"
            class="rounded-full absolute z-10 right-0 mr-4 p-2">
            <mat-icon>chevron_right</mat-icon>
          </button>
          <button *ngIf="post?.imageUrls?.length!>1" type="button"
            class="rounded-full font-bold mt-2 ml-2 absolute z-10 left-0 text-xs rounded-full bg-gray-600 pl-4 pr-4 top-0 mr-4 p-2">
            {{currentIndex+1}}/{{post?.imageUrls?.length}}
          </button>
        </div>
      </div>
        <!-- like comment details -->
        <div class="flex justify-start items-center flex-row">
          <button class="flex hover:bg-redPrimary border mr-2 rounded-full">
            <div class="pr-1 pl-1">
              <mat-icon class="text-lg">open_in_full</mat-icon>
            </div>
          </button>
          <button class="flex border mr-2 rounded-full"
            [ngClass]="{ 'bg-red-700': post.currentUserDownVoted, 'bg-blue-700': post.currentUserUpVoted}">
            <span class="flex items-center">
              <div (click)="onPostUpwardAndDownOperation(upward, post); $event.stopPropagation()"
                class="pl-1 mr-1 pr-1 rounded-full">
                <mat-icon class="text-lg hover:font-bold hover:text-blue-300">arrow_upward</mat-icon>
              </div>
              <span class="text-xs mr-1 font-bold rounded-full">{{ post.upVotesCount! - post.downVotesCount! }}</span>
              <div (click)="onPostUpwardAndDownOperation(downward, post); $event.stopPropagation()"
                class="pl-1 ml-1 pr-1 rounded-full">
                <mat-icon class="text-lg hover:font-bold hover:text-red-400">arrow_downward</mat-icon>
              </div>
            </span>
          </button>
          <button class="flex pt-2 pl-3 pr-3 pb-2 hover:bg-gray-600 mr-2 rounded-full">
            <span class="flex text-xs font-bold text-gray-300 items-center">{{post.commentsCount}} comments</span>
          </button>
        </div>
      </div>
    </div>
  </div>
  <mat-divider></mat-divider>
  
</div>
