<ngx-loading-bar [color]="'red'" [diameter]="'3px'" [height]="'3px'" [includeSpinner]="false"></ngx-loading-bar>
<app-alert class="fixed top-4 left-1/2 transform -translate-x-1/2 w-11/12 max-w-md z-50" component="app-level"></app-alert>
<app-layout></app-layout>