<div class="flex items-center justify-center">
    <div class="w-full">
        <mat-card>
            <div class="ml-5 mb-3">
                <div class="text-left text-2xl font-bold">Name and style your community</div>
                <div>Banners and descriptions help redditors discover and understand your community.</div>
            </div>
            <mat-divider></mat-divider>
            <form [formGroup]="communityStepperForm">
                <mat-stepper [disableRipple]="true" [linear]="true" #stepper>
                    <mat-step [editable]="!disableFieldsWhileUpload" formGroupName="communityNameAndDescription" [stepControl]="communityStepperForm.get('communityNameAndDescription')!">
                        <ng-template matStepLabel>Community Description</ng-template>
                        <comm-description-step *ngIf="communityStepperForm" [communityStepperForm]="communityStepperForm"></comm-description-step>
                    </mat-step>
                    <mat-step [editable]="!disableFieldsWhileUpload" formGroupName="topics" [stepControl]="communityStepperForm.get('topics')!">
                        <ng-template matStepLabel>Topics</ng-template>
                        <topics-step *ngIf="communityStepperForm" [communityStepperForm]="communityStepperForm"></topics-step>
                    </mat-step>
                    <mat-step [editable]="!disableFieldsWhileUpload" formArrayName="accessibility" [stepControl]="communityStepperForm.get('accessibility')!">
                        <ng-template matStepLabel>Accessibility</ng-template>
                        <accessibility-step (disableFormWhileUploadingEmitter)="disableFieldsWhileUploading($event)" *ngIf="communityStepperForm" [communityStepperForm]="communityStepperForm"></accessibility-step>
                    </mat-step>
                  </mat-stepper>
            </form>
        </mat-card>
    </div>
</div>


  