:host {
    display: block;
    width: 100%;
  }
 
  mat-card {
    border-radius: 15px;
  }

  /* Remove the default background from step headers */
::ng-deep .mat-step-header {
    background: none !important;
  }
  
  /* Remove the background from the active step and other states */
  ::ng-deep .mat-step-header.mat-active,
  ::ng-deep .mat-step-header.mat-completed,
  ::ng-deep .mat-step-header:hover {
    background: none !important;
  }
  
  /* Optionally, you can add custom styles for better visibility of active steps */
  ::ng-deep .mat-step-header.mat-active .mat-step-icon {
    background-color: #3f51b5 !important; /* Change to your preferred color */
    color: white !important; /* Ensure text/icon contrast */
  }
  
  /* Remove the grey background around the stepper content */
  ::ng-deep .mat-horizontal-stepper .mat-stepper-content,
  ::ng-deep .mat-vertical-stepper .mat-stepper-content {
    background: none !important;
  }
  
  /* Ensure the entire stepper has no background if it's applied at a higher level */
  ::ng-deep .mat-horizontal-stepper,
  ::ng-deep .mat-vertical-stepper {
    background: none !important;
  }