<mat-toolbar class="mat-elevation-z3">
    <div class="flex justify-between items-center w-full">
        <!-- Logo Section -->
        <div class="flex-1 flex justify-start">
            <img src="assets/images/logo.png" alt="reddit" class="logo h-10">
        </div>
        <!-- Search Section -->
        <div class="flex-1 flex justify-center">
            <app-toolbar-search></app-toolbar-search>
        </div>
        <!-- Right Section -->
        <div class="flex-1 flex justify-end">
            <app-right-pane-toolbar></app-right-pane-toolbar>
        </div>
    </div>
</mat-toolbar>
<mat-sidenav-container>
    <mat-sidenav opened mode="side" [style.width]="'270px'">
        <mat-accordion multi="false" displayMode="flat">
            <div *ngFor="let item of menuItems">
                <mat-nav-list *ngIf="!(item.isExpandable)">
                    <a class="non-expandable-links" [routerLink]="item.link" mat-list-item>
                        <mat-icon matListItemIcon class="sidebar-icon">{{ item.icon }}</mat-icon>
                        <span matListItemTitle>{{ item.name }}</span>
                    </a>
                </mat-nav-list>
                <mat-expansion-panel class="remove-mat-expansion-panel-padding" *ngIf="item.isExpandable" [class.mat-elevation-z0]="true" dense>
                    <mat-expansion-panel-header>
                        <mat-icon matListItemIcon class="sidebar-icon">{{item.icon}}</mat-icon>
                        <span matListItemTitle >{{ item.name }}</span>
                    </mat-expansion-panel-header>
                    <mat-nav-list class="expandable-links" *ngFor="let children of item.children" [class.mat-elevation-z0]="true" dense>
                        <a mat-list-item routerLinkActive="list-item-active" [routerLink]="[CATAGORY,children.link]" mat-list-item>
                            <span matListItemTitle>{{ children.name }}</span>
                        </a>
                    </mat-nav-list>
                </mat-expansion-panel>
            </div>
            <mat-divider></mat-divider>
            <app-communities></app-communities>
        </mat-accordion>
    </mat-sidenav>
    <mat-sidenav-content class="content flex justify-center items-center px-4">
        <div class="max-w-screen-xl w-full mx-auto">
            <router-outlet></router-outlet>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>