<div class="flex items-center justify-center">
    <div class="w-full max-w-md">
      <mat-card>
        <div class="mb-5">
            <mat-card-title class="text-center text-lg font-bold">Sign In</mat-card-title>
        </div>
        <mat-card-content>
          <form [formGroup]="loginForm" (ngSubmit)="initiateLogin()">
            <div class="mb-2">
              <mat-form-field appearance="outline" class="w-full">
                <mat-label>Email Or Username</mat-label>
                <input formControlName="username" matInput placeholder="Enter your email or username">
              </mat-form-field>
            </div>
            <div>
              <mat-form-field appearance="outline" class="w-full">
                <mat-label>Password</mat-label>
                <input formControlName="password" matInput type="password" placeholder="Enter your password">
              </mat-form-field>
            </div>
            <div class="mb-4">
                <div *ngIf="!isloading">
                    <a href="#" class="text-blue-400">{{ loginConstant.FORGOT_PASSWORD }}</a>
                    <br/>
                    <span>New to Reddit ?</span> <button type="button" (click)="initiateSignUp()" class="text-blue-400 pl-1">Sign Up</button>
                </div>

            </div>
            <div class="flex flex-col items-center">
              <button type="submit" mat-raised-button [disabled]="isloading || loginForm.invalid" class="relative bg-blue-600 text-white p-2 rounded w-full flex justify-center items-center">
                <span>Log In</span>
              </button>
            </div>
            <div class="divider mt-5">
              <mat-divider></mat-divider>
            </div>
            <div class="google-signin mt-10">
              <div id="google-button"></div>
            </div>
            
            <div class="mt-4">
              <app-alert component="log-in"></app-alert>
            </div>
          </form>
        </mat-card-content>
      </mat-card>
    </div>
  </div>